[Desktop Entry]
Actions=RunInTerminal;
Categories=RemoteAccess;Network;
Comment=Self-hosted game stream host for Moonlight — Linux-only, headless-first
Exec=/usr/bin/env systemctl start --u app-com.midnightsun.app
Icon=midnightsun
StartupWMClass=com.midnightsun.app
Keywords=gamestream;stream;moonlight;remote play;headless;
Name=MidnightSun
Type=Application
Version=1.0

[Desktop Action RunInTerminal]
Exec=gio launch @CMAKE_INSTALL_FULL_DATAROOTDIR@/applications/com.midnightsun.app.terminal.desktop
Icon=application-x-executable
Name=Run in Terminal
